.navbar-brand img {
    width: 100px;
}

.bg-black {
    background-color: #141414 !important;
}

.avatar {
    width: 50px;
}

main {
    min-height: 100vh;
    padding-left: 3%;
    padding-right: 3%;
}

#genre .dropdown-toggle, #genre .dropdown-menu {
    border-radius: 0px!important;
    
}

.movie-list img {
    width: 100%;
}


