* {
    box-sizing: border-box;
}

.navbar-brand img {
    width: 100px;
}

.bg-black {
    background-color: #141414 !important;
}

.avatar {
    width: 50px;
}

main {
    min-height: 100vh;
    padding-left: 3%;
    padding-right: 3%;
    overflow-x: hidden;
}

#genre .dropdown-toggle, #genre .dropdown-menu {
    border-radius: 0px!important;
    
}

.movie-list img {
    width: 100%;
    
}

.film-card {
    transition: 0.2s;
}

.film-card:hover {
    transform: scale(1.1);
    z-index: 2;
}